
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <title>划片</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <style>
body,
html,
#container {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "微软雅黑";
}
    .drawing-panel {
      position: fixed;
      top: 1rem;
      margin-left: 1rem;
      padding: 1rem 1rem;
      border-radius: .25rem;
      background-color: #fff;
      box-shadow: 0 2px 6px 0 rgba(27, 142, 236, 0.5);
    }
    .drawing-search {
      position: fixed;
      top: 1rem;
      margin-left: 15rem;
      padding: 1rem 1rem;
      border-radius: .25rem;
      background-color: #fff;
      box-shadow: 0 2px 6px 0 rgba(27, 142, 236, 0.5);
    }
    </style>
    <script src="//api.map.baidu.com/api?type=webgl&v=2.0&ak=6gSs9txR5MrqAomoUlGGkIgQZrZthqPf"></script>
    <script type="text/javascript" src="/static/js/schoolmap.js"></script>
  </head>
  <body>
    <a href="/elementary/stu/index">点我返回首页</a><a id="msgbox"></a>
   <div class="drawing-search" style="z-index:88;"><input id="Address">
     <button  onclick="search()">查询</button></div>
    <div id="container"></div>
    <select class="drawing-panel" style="z-index:99;" onchange="schoolmap(value)">
      <option></option>
      <option value= "(1,104.47635,25.717453)">盘州市第一小学</option>
      <option value= "(2,104.468241,25.703617)">盘州市第二小学</option>
      <option value= "(3,104.485956,25.704848)">盘州市第三小学</option>
      <option value= "(4,104.490317,25.733002)">盘州市第四小学</option>
      <option value= "(5,104.412791,25.667041)">盘州市第五小学</option>
      <option value= "(6,104.520496,25.76219)">盘州市第六小学</option>
      <option value= "(8,104.465154,25.67995)">盘州市第八小学</option>
      <option value= "(9,104.484105,25.719809)">盘州市第九小学</option>
      <option value= "(10,104.469329,25.684679)">亦资街道红磷小学</option>
      <option value= "(11,104.435163,25.723347)">红果街道沙陀小学</option>
      <option value= "(12,104.486497,25.757979)">两河街道沙坡小学</option>
      <option value= "(21,104.461754,25.705824)">盘州市第八中学</option>
      <option value= "(22,104.49879,25.726349)">盘州市第十中学</option>
      <option value= "(23,104.452405,25.677084)">盘州市第十一中学</option>
      <option value= "(24,104.439414,25.728065)">红果街道沙陀中学</option>
     </select>
     <div class="drawing-panel" style="z-index:88;top:5rem;" id="map_result"></div>
  </body>
</html>
<script>
  var markerArr = [];
  var map = new BMapGL.Map('container');
  var point = new BMapGL.Point(104.4506313, 25.71539373);
  map.centerAndZoom(point, 17);
  map.enableScrollWheelZoom(true);
  map.addEventListener("click", changeLAT);
  function schoolmap(value,x,y) {
  map.enableScrollWheelZoom(true);
    //map.clearOverlays();
    var point = new BMapGL.Point(x,y);
    map.setCenter(point);
    var marker = new BMapGL.Marker(point); 
    map.addOverlay(marker); 
    map.addOverlay(eval("schoolmap" + value));
    }
  function search(){
  map.centerAndZoom(point, 17);
      map.enableScrollWheelZoom();
      map.enableContinuousZoom();  
      getAddress();}
  function getAddress() {
    var address =document.getElementById("Address").value;
    var myGeo = new BMapGL.Geocoder();
    myGeo.getPoint(address, function (point) {
    if (point) {
      map.centerAndZoom(point, 17);
      var marker = new BMapGL.Marker(point);
      map.addOverlay(marker);
      var local = new BMapGL.LocalSearch(map, {
	  renderOptions: { map: map, panel: "map_result" }
      });
      local.search(address)
    } else { alert("您选择地址没有解析到结果!"); }
    }, "盘州市");
  }
  function changeLAT(e) {
    //  alert(e.point.lng + ", " + e.point.lat);
      if(markerArr.length != 0){
	  map.removeOverlay(markerArr[0]);
	  markerArr=[];
	}
    longitude= e.latlng.lng; latitude= e.latlng.lat;
    var marker = new BMapGL.Marker(new BMapGL.Point(longitude, latitude));
      var latlngtext= "经度：" + longitude + "<br />  纬度：" + latitude;
    var label = new BMapGL.Label(latlngtext, { offset: new BMapGL.Size(20, -10) });
    marker.setLabel(label);
    markerArr.push(marker); map.addOverlay(marker);
  }
</script>


