
{%extends "base.html" %}
{% block mainbody %}
<div data-options="region:'center'" style="padding:0px;">
<h1>盘州市2022年义务教育阶段招生入学工作学生报名系统 </h1>
<a href="https://218.201.223.229:8888/elementary/stu/index">网站正式地址：https://218.201.223.229:8888/elementary/index</a>
<div >
  <a id="btn" href="Register?grade=1" class="easyui-linkbutton" data-options="iconCls:'icon-edit'">一年级登记入口</a>
   <a id="btn" href="Register?grade=7" class="easyui-linkbutton" data-options="iconCls:'icon-edit'">七年级登记入口</a>
  <a id="btn" href="QueryRegister" class="easyui-linkbutton" data-options="iconcls:'icon-search'">预登记结果查询</a>
  <a id="btn" href="publicity" class="easyui-linkbutton" data-options="iconCls:'icon-search'">学校划片情况一览</a>
</div>
<h2>
  一、时间安排</h2>
<h3> （一）宣传阶段：6月10日-6月14日</h3>
<h3>（二）预登记阶段（2022年6月15日至6月30日）</h3>
<h4>1.线上预登记时间：6月15日早上9点至6月25日</h4>
<h4>2.线下预登记时间：6月27日至6月30日</h4>
<h3>（三）报名结果公示阶段（2022年7月13日至7月15日）</h3>
<h2>二、注意事项</h2>
<h3>（1）学生家长不得跨区域填报，每名适龄儿童少年凭身份证号仅可预登记一所划片学校。</h3>
<h3>（2）上传资料时请提供原件的清晰彩色扫描件，图片旋转至文字向上的方向，不得横放竖版图片。</h3>
<h3>（3）未通过人员可有一次线上补登机会，需联系预登记学校对信息进行驳回。</h3>
<h3>（4）请各位学生家长于6月15日-25日间登录 <a href="https://218.201.223.229:8888/basicedu/index">本站网址</a> 及时查询预登记结果。</h3>
  <h3>（5）预登记初审通过不等于报名成功。如果预登记情况大于学校的最大容纳学位，依照户籍所在地→烈士子女、驻盘部队的现役军人子女、公安英模和因公牺牲、伤残警察子女→参加抗疫最前线的医护人员的子女→易地扶贫搬迁子女→进城务工随迁子女（家长务工就业或经商类）（购房类→租房类）→其他进城务工随迁子女（家长务工就业或经商类）（购房类→租房类）顺序依次保障。若预登记学校因学位不足无法满足就读需求的，需无条件服从调剂到有空余学位的学校就读。最终报名成功的学生名单将通过学校公众号及校园门口张贴等多种方式进行公示。
    </h3>
</div>
<style>
#btn{width:150px;height:150px;font-size:150px;}
</style>
<script>
</script>
{% endblock %}

