
<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" itype="text/css" id="easyuiTheme" href="/static/easyui/themes/black/easyui.css">
    <link rel="stylesheet" type="text/css" href="/static/easyui/themes/default/easyui.css">
    <script type="text/javascript" src="/static/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="/static/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/static/easyui/jquery.cookie.js"></script>
    <script type="text/javascript" src="/static/easyui/locale/easyui-lang-zh_CN.js"></script>
    {% block head %}

    {% endblock head %}
  </head>
  <body>
    {% block mainbody %}

    {% endblock mainbody %}
  </body>
  <script>
  {% block myjs %}
  {% endblock myjs %}
  </script>
</html>
